<section class="wellcome_area clearfix" id="home">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md">
        <div class="wellcome-heading">
          <%= image_tag "/core-img/logo-lg.png" %>
          <p>Vida infinita para o CLAYTON</p>
        </div>
        <div class="get-start-area text-center">
          <a class="btn" id="btn-compra" href="#"> Comprar </a>
          <a class="btn" id="btn-venda" href="#">Vender</a>
          <a class="btn" id="btn-saiba" href="#about"> Saiba Mais </a>
        </div>
      </div>
    </div>
  </div>
</section>
