<!-- ***** Header Area Start ***** -->
<header class="header_area animated" id="header-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="menu_area">
          <div class="sing-up-button">
            <a href="#" data-toggle="modal" data-target="#modal-login">
              <i class="fa fa-power-off" aria-hidden="true"></i> ENTRAR
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>