<footer class="footer-social-icon text-center clearfix">
  <div class="copyright-text">
    <p>Copyright ©2018 Rejogue.</p>
  </div>
  <div class="footer-social-icon">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</footer>