<!-- ***** Footer Area Start ***** -->
<footer class="footer-social-icon text-center section_padding_70 clearfix">
  <!-- footer logo -->
  <div class="footer-text">
    <%= image_tag "/core-img/logo-lg.png" %>
  </div>
  <!-- social icon-->
  <div class="footer-social-icon">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <!-- Foooter Text-->
  <div class="copyright-text">
    <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
    <p>Copyright ©2018 Rejogue. Desenvolvido por <a href="http://tec42.com.br" target="_blank">TEC42</a></p>
  </div>
</footer>
<!-- ***** Footer Area Start ***** -->
